# API configuration
API_PORT=80

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=passwordChangeMe
DB_NAME=timetable_v2

# Indiware EVS passwords
EVS_TEACH_PASSWORD=passwordChangeMe
EVS_STUD_PASSWORD=passwordChangeMe