openapi: 3.1.0
info:
  title: Vertretungsplan API
  description: |-
    
  contact:
    email: support@schulzentrum.de
  license:
    name: Open Source License 3.0
    url: https://opensource.org/license/osl-3-0
  version: 0.0.4
servers:
  - url: https://secure-gateway.schulzentrum.de/api/v1/timetable
tags:
  - name: metadata
    description: Metadata Endpoints
  - name: plan-daily
    description: Daily Timetable Plan Endpoints
  - name: plan-weekly
    description: Weekly Timetable Plan Endpoints
  - name: roomavailability
    description: Room Availability Endpoints
paths:
  /metadata/classes:
    get:
      tags:
        - metadata
      summary: Returns list of all classes
  /metadata/classes/groups:
    get:
      tags:
        - metadata
      summary: Returns list of all class groups
  /metadata/rooms:
    get:
      tags:
        - metadata
      summary: Returns list of all rooms
  /metadata/teachers:
    get:
      tags:
        - metadata
      summary: Returns list of all teachers
  /metadata/holidays:
    get:
      tags:
        - metadata
      summary: Returns all holidays with dates
  /metadata/dates:
    get:
      tags:
        - metadata
      summary: Returns all dates with status 
  /metadata/dates/next-school-day:
    get:
      tags:
        - metadata
      summary: Returns the date of the next valid school day
      description: Returns the date of the next valid school day (skipping weekends and holidays)
  /metadata/latest-date:
    get:
      tags:
        - metadata
      summary: Returns the latest date for which timetable data is available
  /metadata/current-period:
    get:
      tags:
        - metadata
      summary: Returns the current active lesson period based on server time
  /metadata/current-period/{timestamp}:
    parameters:
      - $ref: '#/components/parameters/TimestampPath'
    get:
      tags:
        - metadata
      summary: Returns the current active lesson period based on provided timestamp
  /metadata/periods:
    get:
      tags:
        - metadata
      summary: Returns all periods with times
  /metadata/subjects:
    get:
      tags:
        - metadata
      summary: Returns a list of all subjects
  /metadata/subjects/groups:
    get:
      tags:
        - metadata
      summary: Returns a list of all subject groups
  /plans/daily/{date}/classes/changes:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for a specific date grouped by class
  /plans/daily/{date}/teachers/changes:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for a specific date grouped by teacher
  /plans/daily/{date}/rooms/changes:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for a specific date grouped by room 
  /plans/daily/{date}/classes:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and all classes
  /plans/daily/{date}/classes/{id}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
      - $ref: '#/components/parameters/ClassIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and class
  /plans/daily/{date}/rooms:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and all rooms
  /plans/daily/{date}/rooms/{roomID}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
      - $ref: '#/components/parameters/RoomIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and room
  /plans/daily/{date}/teachers:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and all teachers
  /plans/daily/{date}/teachers/{id}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
      - $ref: '#/components/parameters/TeacherIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for a specific date and teacher
  /plans/daily/today/classes/changes:
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for today grouped by class
  /plans/daily/today/teachers/changes:
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for today grouped by teacher
  /plans/daily/today/rooms/changes:
    get:
      tags:
        - plan-daily
      summary: Returns timetable changes for today grouped by room
  /plans/daily/today/classes:
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and all classes
  /plans/daily/today/classes/{id}:
    parameters:
      - $ref: '#/components/parameters/ClassIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and class
  /plans/daily/today/rooms:
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and all rooms
  /plans/daily/today/rooms/{roomID}:
    parameters:
      - $ref: '#/components/parameters/RoomIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and room
  /plans/daily/today/teachers:
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and all teachers
  /plans/daily/today/teachers/{id}:
    parameters:
      - $ref: '#/components/parameters/TeacherIdPath'
    get:
      tags:
        - plan-daily
      summary: Returns timetable for today and teacher
  /plans/weekly/{date}/classes:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and all classes
  /plans/weekly/{date}/classes/{id}:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
      - $ref: '#/components/parameters/ClassIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and class
  /plans/weekly/{date}/rooms:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and all rooms
  /plans/weekly/{date}/rooms/{roomID}:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
      - $ref: '#/components/parameters/RoomIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and room
  /plans/weekly/{date}/teachers:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and all teachers
  /plans/weekly/{date}/teachers/{id}:
    parameters:
      - $ref: '#/components/parameters/WeekDatePath'
      - $ref: '#/components/parameters/TeacherIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for a week and teacher
  /plans/weekly/today/classes:
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and all classes
  /plans/weekly/today/classes/{id}:
    parameters:
      - $ref: '#/components/parameters/ClassIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and class
  /plans/weekly/today/rooms:
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and all rooms
  /plans/weekly/today/rooms/{roomID}:
    parameters:
      - $ref: '#/components/parameters/RoomIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and room
  /plans/weekly/today/teachers:
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and all teachers
  /plans/weekly/today/teachers/{id}:
    parameters:
      - $ref: '#/components/parameters/TeacherIdPath'
    get:
      tags:
        - plan-weekly
      summary: Returns timetable for this week and teacher
  /rooms/availability/today:
    get:
      tags:
        - roomavailability
      summary: Returns availability of all rooms for today
  /rooms/{roomID}/availability/today:
    parameters:
      - $ref: '#/components/parameters/RoomIdPath'
    get:
      tags:
        - roomavailability
      summary: Returns availability of a specific room for today
  /rooms/availability/{date}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - roomavailability
      summary: Returns availability of all rooms for a specific date
  /rooms/{roomID}/availability/{date}:
    parameters:
      - $ref: '#/components/parameters/RoomIdPath'
      - $ref: '#/components/parameters/DatePath'
    get:
      tags:
        - roomavailability
      summary: Returns availability of a specific room for a specific date
components:
  parameters:
    DatePath:
      name: date
      description: Date for requested timetable
      in: path
      required: true
      schema:
        type: string
        format: date
    WeekDatePath:
      name: date
      description: Date that is inside requested week timetable
      in: path
      required: true
      schema:
        type: string
        format: date
    ClassIdPath:
      name: id
      description: ID of a specific class
      in: path
      required: true
      schema:
        type: integer
    TeacherIdPath:
      name: id
      description: ID of a specific teacher
      in: path
      required: true
      schema:
        type: integer
    RoomIdPath:
      name: roomID
      description: ID of a specific room
      in: path
      required: true
      schema:
        type: integer
    TimestampPath:
      name: timestamp
      description: Timestamp to check for active lesson period
      in: path
      required: true
      schema:
        type: string
        format: date-time
  schemas:
    # --- Core Entities ---
    Teacher:
      type: object
      required: [id, shortName]
      properties:
        id:
          type: integer
          examples: [101]
        shortName:
          type: string
          description: "Unique initials or short code of the teacher"
          examples: ["SMI"]

    Room:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
          examples: [50]
        name:
          type: string
          description: "Room number or name"
          examples: ["3.12"]
        building:
          type: string
          examples: ["Main Building"]

    SchoolClass:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
          examples: [12]
        name:
          type: string
          description: "Grade and identifier"
          examples: ["10A"]

    Subject:
      type: object
      required: [id, shortName]
      properties:
        id:
          type: integer
          examples: [5]
        shortName:
          type: string
          examples: ["MA"]
        longName:
          type: string
          examples: ["Mathematics"]

    # --- Schedule Metadata ---
    Period:
      type: object
      required: [id, startTime, endTime]
      properties:
        id:
          type: integer
          description: "The lesson number"
          examples: [1]
        startTime:
          type: string
          pattern: '^([01]\d|2[0-3]):?([0-5]\d)$'
          examples: ["08:00"]
        endTime:
          type: string
          pattern: '^([01]\d|2[0-3]):?([0-5]\d)$'
          examples: ["08:45"]

    Holiday:
      type: object
      properties:
        name:
          type: string
          examples: ["Christmas Break"]
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date

    # --- Timetable Logic ---
    TimetableEntry:
      type: object
      required: [id, date, period, status]
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        period:
          $ref: '#/components/schemas/Period'
        subject:
          $ref: '#/components/schemas/Subject'
        teacher:
          $ref: '#/components/schemas/Teacher'
        room:
          $ref: '#/components/schemas/Room'
        classes:
          type: array
          items:
            $ref: '#/components/schemas/SchoolClass'
        status:
          type: string
          description: "Current state of the lesson"
          enum: [scheduled, substituted, cancelled, time_change, room_change]
        substitutionInfo:
          type: object
          description: "Details if the lesson is not 'scheduled'"
          properties:
            originalTeacher:
              $ref: '#/components/schemas/Teacher'
            originalRoom:
              $ref: '#/components/schemas/Room'
            changeReason:
              type: string
              examples: ["Illness"]
            notes:
              type: string
              examples: ["Work on textbook page 45"]

    # --- Availability Logic ---
    RoomAvailability:
      type: object
      properties:
        room:
          $ref: '#/components/schemas/Room'
        date:
          type: string
          format: date
        periods:
          type: array
          items:
            type: object
            properties:
              periodId:
                type: integer
              startTime:
                type: string
                pattern: '^([01]\d|2[0-3]):?([0-5]\d)$'
              endTime:
                type: string
                pattern: '^([01]\d|2[0-3]):?([0-5]\d)$'
              isAvailable:
                type: boolean

    # --- Response Wrappers ---
    PlanResponse:
      type: object
      properties:
        generatedAt:
          type: string
          format: date-time
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TimetableEntry'